name: Maven Test

on:
  workflow_dispatch:  # Manually trigger the workflow

jobs:
  run-tests:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3  # Checkout the repository code

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'

      - name: Set up ChromeDriver
        shell: bash
        run: |
          CHROMEDRIVER_VERSION=$(curl -sS https://chromedriver.storage.googleapis.com/LATEST_RELEASE_125)
          wget -q -O /tmp/chromedriver.zip https://chromedriver.storage.googleapis.com/${CHROMEDRIVER_VERSION}/chromedriver_linux64.zip
          unzip -o /tmp/chromedriver.zip -d /tmp
          mv /tmp/chromedriver /usr/local/bin/chromedriver
          chmod +x /usr/local/bin/chromedriver

      - name: Install Maven
        run: sudo apt-get update && sudo apt-get install -y maven  # Install Maven

      - name: Run Selenium Tests
        working-directory: mavenselenium
        run: mvn test  # Run Maven tests

      - name: Generate Selenium Report
        uses: actions/upload-artifact@v2
        with:
          name: selenium-report
          path: 'mavenselenium/target/surefire-reports'
