name: Maven-test
on:
  workflow_dispatch:  # Manually trigger the workflow

jobs:
  run-tests:
    name: Run Selenium Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'

      - name: Set up ChromeDriver
        run: |
          wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
          sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list'
          sudo apt-get update
          sudo apt-get install google-chrome-stable

      - name: Install Maven
        run: sudo apt-get update && sudo apt-get install -y maven

      - name: Run Selenium Tests
        working-directory: mavenselenium  # Set the directory where your Maven project is located
        run: mvn test

      - name: Generate Selenium Report
        uses: actions/upload-artifact@v2
        with:
          name: selenium-report
          path: 'mavenselenium/target/surefire-reports'  # Path to your test reports

