name: Maven Test

on:
  workflow_dispatch:  # Manually trigger the workflow

jobs:
  run-tests:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3  # Checkout the repository code

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'

      - name: Install Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: Install Maven
        run: sudo apt-get install -y maven  # Install Maven

      - name: Download ChromeDriver (optional, if WebDriverManager fails)
        run: |
          curl -SL https://chromedriver.chromium.org/LATEST/chromedriver_linux64.zip -o chromedriver.zip
          unzip chromedriver.zip
          chmod +x chromedriver  # Make the executable file

      - name: Run Selenium Tests
        working-directory: mavenselenium
        env:  # Optionally set the ChromeDriver path if needed
          CHROME_DRIVER: /path/to/chromedriver  # Replace with actual path if using downloaded ChromeDriver
        run: mvn test  # Run Maven tests

      - name: Generate Selenium Report
        uses: actions/upload-artifact@v2
        with:
          name: selenium-report
          path: 'mavenselenium/target/surefire-reports'
