name: Maven-test

on:
  push:

jobs:
  build:
    name: Maven Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'

      - name: Install Chrome
        run: |
          wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
          sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list'
          sudo apt-get update
          sudo apt-get install google-chrome-stable

      - name: Build and Test with Maven
        run: mvn -f mavenselenium/pom.xml clean test
        shell: bash

      - name: Archive test reports
        uses: actions/upload-artifact@v2
        with:
          name: test-reports
          path: mavenselenium/target/surefire-reports/
